body {
    font-family: Arial, sans-serif;
    background-color: #f5fff5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    background-color: #00a859;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0 25px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar a:nth-child(1) { background-color: #00c174; }
.navbar a:nth-child(2) { background-color: #00a899; }

.navbar a:hover {
    background-color: #005f3c;
    color: #fff;
}

.login-box {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.login-box input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-box button {
    background-color: #00a859;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.header {
    background-color: #00a859;
    color: white;
    padding: 20px;
}

.menu {
    background-color: white;
    padding: 10px;
}

.menu a {
    margin: 15px;
    text-decoration: none;
    color: #00a859;
    font-weight: bold;
}

.banner {
    background-color: #d9ffe6;
    padding: 30px;
    margin-bottom: 30px;
}

.page-title {
    text-align: center;
    margin-top: 30px;
    color: #00a859;
}

.category-title {
    text-align: left;
    margin: 30px 50px 10px;
    color: #00a859;
    font-size: 20px;
}

.products-container {
    display: flex;
    justify-content: space-around;
    margin: 0 50px 40px;
    flex-wrap: wrap;
}


.product-card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.product-card h3, .product-card h4 {
    margin: 10px 0 5px;
}

.product-card p {
    margin: 5px 0 10px;
}

.product-card button {
    background-color: #00a859;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

a {
    color: #00a859;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 800px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 10px 5px;
        display: block;
    }
}
